{% extends "page.html" %} {% block body %}
<div class="">
  <h1>Lorem ipsum dolor sit amet consectetur.</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis atque
    officiis saepe aperiam quia repudiandae minima dolore et, harum illo eum
    quas fugit est architecto obcaecati, quis libero impedit. Officia.
  </p>
  <div class="row">
    {% for person in response %}
    <div class="col-sm-6 col-md-6 col-lg-3">
      <div class="container shadow rounded py-2 position-relative">
        <form action="/{{person[0]}}" method="get">
          <input type="text" class="d-none" name="type" value="delete" />
          <div class="close-btn">
            <button type="submit" class="btn">&#10006;</button>
          </div>
        </form>
        <a href="/{{person[0]}}">
          <h3>{{ person[1] }}</h3>
          <h4>{{ person[2] }}</h4>
          <h5>{{ person[3] }}</h5>
          <h5>{{ person[4] }}</h5>
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
